<div class="tabbable">
    <ul class="nav nav-tabs">
        <li ng-class="{active: os=='Linux'}">
            <a href="/applications/Linux">Linux</a>
        </li>
        <li ng-class="{active: os=='Windows'}">
            <a href="/applications/Windows">Windows</a>
        </li>
        <li ng-class="{active: os=='Darwin'}">
            <a href="/applications/Darwin">Mac</a>
        </li>
    </ul>
</div>
<form class="form form-horizontal">
    <div class="form-group">
        <label class="col-md-1 control-label">Search:</label>
        <div class="col-md-2">
            <input type="text" class="form-control" ng-model="newApp.name" placeholder="type process id">
        </div>
    </div>
</form>
<table class="table table-striped table-condensed" style="width:500px" ng-show="os">
    <thead>
        <tr>
            <th>Process ID</th>
            <th>App Name</th>
            <th></th>
        </tr>
    </thead>
    <tr ng-repeat="(name,value) in applications| propertyName:newApp.name">
        <td>{{name}}</td>
        <td>{{value}}</td>
        <td><button type="submit" class="btn btn-link btn-xs" style="color:red" ng-click="deleteApp(name)"><i class="glyphicon glyphicon-trash"></i></button></td>
    </tr>
    <form role="form">
        <tr>
            <td><input type="text" class="form-control" ng-model="newApp.name"></td>
            <td><input type="text" class="form-control" ng-model="newApp.value"></td>
            <td><button type="submit" class="btn btn-default" style="color:green" ng-click="addApp()"><span class="glyphicon glyphicon-plus"></span></button></td>
        </tr>
    </form>
</table>

