<form class="form form-horizontal">
    <div class="form-group">
        <label class="col-md-1 control-label">Search:</label>
        <div class="col-md-2">
            <input type="text" class="form-control" ng-model="newCmd.name" placeholder="type command">
        </div>
    </div>
</form>
<table class="table table-striped table-condensed" style="width:500px">
    <thead>
    <tr>
        <th>Command Name</th>
        <th>Keystroke</th>
        <th></th>
    </tr>
    </thead>
    <tr ng-repeat="(name,value) in commands | propertyName:newCmd.name">
        <td>{{name}}</td>
        <td>{{value | keyStroke}}</td>
        <td><button type="submit" class="btn btn-link btn-xs" ng-click="deleteCmd(name)" style="color:red"><i class="glyphicon glyphicon-trash"></i></button></td>
    </tr>
    <form class="form-inline" role="form">
        <tr>
            <td><input type="text" class="form-control" ng-model="newCmd.name"></td>
            <td>
                <div class="form-group">
                    <div class="btn-group" style="padding-bottom:3px">
                        <label class="btn btn-primary" ng-model="newCmd.value.ctrl" btn-checkbox>Ctrl</label>
                        <label class="btn btn-primary" ng-model="newCmd.value.alt" btn-checkbox>Alt</label>
                        <label class="btn btn-primary" ng-model="newCmd.value.shift" btn-checkbox>Shift</label>
                        <label class="btn btn-primary" ng-model="newCmd.value.cmd" btn-checkbox>&#8984;</label>
                    </div>
                    +&nbsp;<input type="text" class="form-control form-inline" style="width:40px;display: inline" ng-model="newCmd.value.sign">
                </div>
            </td>
            <td><button type="submit" class="btn btn-success" ng-click="addCmd()"><span class="glyphicon glyphicon-plus"></span></button></td>
        </tr>
    </form>
</table>